.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
.env
deliverables/
docs/
data/laws_json
data/laws_pdf
data/laws_misc
.~
scripts/training_prep_test.ipynb
scripts/.virtual_documents/
scripts/.ipynb_checkpoints/
